body {
  margin: 0;
  padding: 0;
  background-image: url(/img/city1.jpg);
  background-repeat: repeat;
  background-size: 100%, 100%;
  background-position: top, bottom;
}

form {
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px lightgrey;
}

.notifications {
  padding: 20px;
  margin-top: 7.5px;
}

.notifications-card {
  outline: 1px solid grey;
  border-radius: 20px;
}

.projectCard {
  outline: 1px solid grey;
}

.h4-custom {
  padding: 10px;
}

.h5-custom {
  padding: 20px;
  text-align: center;
}

.card-custom {
  box-shadow: 5px 5px 5px 0px darkgray;
}

.brand-logo {
  font-weight: bold;
  letter-spacing: 1px;
}

label {
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #A0E659;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #A0E659 !important;
}
