body {
  margin: 0;
  padding: 0;
  background-image: url(/img/rain.jpg);
  background-repeat: repeat;
  background-size: 100%, 100%;
  background-position: top, bottom;
}

form {
  padding: 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.55);
  opacity: 0.95;
}

input {
  border-radius: 5px !important;
  padding: 10px;
}

.notifications { /* notifications title */
  padding: 20px;
  margin-top: 7.5px;
}

.notifications-card { /* notifications card */
  outline: 1px solid grey;
  border-radius: 20px;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.h4-custom { /* title for new project + signup + signout page */
  padding: 10px;
  font-weight: bold;
}

.h5-custom { /* project details title */
  padding: 20px;
  text-align: center;
}

.brand-logo { /* nav title */
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 50px;
}

.user-bubble { /* user-initials bubble */
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  color: black;
}

.summary { /* project summary card */
  outline: 1px solid grey;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.details { /* project details card */
  box-shadow: 5px 5px 5px 0px darkgray;
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}

.btn { /* all buttons */
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
  color: black;
  font-weight: bold;
  border-radius: 20px;
}

label {
  padding: 10px;
}

@media screen and (max-width: 900px){ 
  
  a.brand-logo {
    position: relative;
    left: 150px;
  }
}

@media screen and (max-width: 550px){ 
  
  a.brand-logo {
    position: relative;
    left: 75px;
    font-size: 1rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #A0E659;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #A0E659 !important;
}
